- if @total_results != 0
  %h1
    You are not alone:
- if @total_results == 0
  %h1 
    You have had a truly unique encounter.
    %br
    %a{:href => 'http://www.coasttocoastam.com/' }
      Time to call George Noory.
    %br
%table
  - if @result
    %tr
      %td
        %h2= "#{@result['location']}"
    %tr  
      %td= "#{@result['description'][0,1500]} ..."
%a{:href => "/"}
  I saw something else...
