*
  // Screens are not big enough to account for floats
  float: none
  // Slightly reducing font size to reduce need to scroll
  font-size: 80%
  // As much contrast as possible
  background: #fff
  color: #000
